.cancel-flight-table {
    margin-top: 2rem;
  }
  
  .booking-filters {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  .arrive-select, .departure-select, .airport-select, .name-search, .date-picker, .traveler-date-select {
    margin: 0px 10px;
    margin-bottom: 15px;
    /* grid-row: 2; */
  }

  .arrive-select, .departure-select {
    width: 150px
  }
  
  .date-picker {
    display: block;
    width: 150px;
  }

  .date-input {
    width: 150px;
  }

  .date-picker {
    width: 150px;
  }

  .name-search {
    width: 150px;
  }
  
  .btn-update {
    margin: 15px;
    flex-basis: 100%;
  }

  /* Tooltip text */
.custom-switch .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: -125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.custom-switch:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 