<div class="airport-selectors">
  <div class="depart-select">
    <label class="col-form-label" for="inputDefault">
      Select Departure Airport
    </label>
    <select
      class="custom-select"
      [(ngModel)]="departAirport"
      (change)="getFlightsIf(arriveAirport)"
    >
      <option *ngFor="let airport of airports" [ngValue]="airport">
        {{ airport.name }}
      </option>
    </select>
  </div>
  <div class="arrive-select">
    <label class="col-form-label" for="inputDefault">
      Select Arrival Airport
    </label>
    <select
      class="custom-select"
      [(ngModel)]="arriveAirport"
      (change)="getFlightsIf(departAirport)"
    >
      <option *ngFor="let airport of airports" [ngValue]="airport">
        {{ airport.name }}
      </option>
    </select>
  </div>
</div>
<table class="table table-hover" *ngIf="departAirport && arriveAirport">
  <thead>
    <tr>
      <th scope="col">Departure Airport</th>
      <th scope="col">Arrive Airport</th>
      <th scope="col">Depart Time</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flights" (click)="sayHello()">
      <td>{{ getAirportName(flight.departId) }}</td>
      <td>{{ getAirportName(flight.arriveId) }}</td>
      <td>{{ flight.departTime | date: "mediumTime" }}</td>
      <td>{{ flight.price | currency: "USD" }}</td>
    </tr>
  </tbody>
</table>
