<h2 class="text-center">Book Ticket</h2>
<div class="price-slider">
  <fieldset class="form-group">
    <label for="customRange1"
      >Max Price: {{ customPrice | currency: "USD" }}</label
    >
    <input
      type="range"
      class="custom-range slider-input"
      id="custom-price"
      [min]="minPrice"
      [max]="maxPrice"
      data-show-value="true"
      data-popup-enabled="true"
      [(ngModel)]="customPrice"
    />
  </fieldset>
</div>
<div class="airport-selectors">
  <div class="depart-select">
    <label class="col-form-label" for="inputDefault">
      Select Departure Airport
    </label>
    <select
      class="custom-select"
      [(ngModel)]="departAirport"
      (change)="getFlightsIf(arriveAirport)"
    >
      <option *ngFor="let airport of airports" [ngValue]="airport">
        {{ airport.name }}
      </option>
    </select>
  </div>
  <div class="arrive-select">
    <label class="col-form-label" for="inputDefault">
      Select Arrival Airport
    </label>
    <select
      class="custom-select"
      [(ngModel)]="arriveAirport"
      (change)="getFlightsIf(departAirport)"
    >
      <option *ngFor="let airport of airports" [ngValue]="airport">
        {{ airport.name }}
      </option>
    </select>
  </div>
</div>
<table class="table table-hover" *ngIf="departAirport && arriveAirport">
  <thead>
    <tr>
      <th scope="col">Departure Airport</th>
      <th scope="col">Arrival Airport</th>
      <th scope="col">Departure Time</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let flight of flights"
      style="cursor: pointer;"
      (click)="openBookingModal(flight, bookingModal)"
    >
      <td>{{ getAirportName(flight.departId) }}</td>
      <td>{{ getAirportName(flight.arriveId) }}</td>
      <td>{{ flight.departTime | date: "medium" }}</td>
      <td>{{ flight.price | currency: "USD" }}</td>
    </tr>
  </tbody>
</table>

<ng-template #bookingModal let-close="close">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Book Ticket</h4>
        <button type="button" class="btn btn-primary" (click)="close()">
          <span>&#215;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <table class="table table-hover table-dark">
            <tr>
              <th scope="row">Customer:</th>
              <td>{{ traveler.name }}</td>
            </tr>
            <tr>
              <th scope="row">Flight Number:</th>
              <td>{{ flight.flightId }}</td>
            </tr>
            <tr>
              <th scope="row">Departure:</th>
              <td>
                {{ getAirportName(flight.departId) }},
                {{ flight.departTime | date: "medium" }}
              </td>
            </tr>
            <tr>
              <th scope="row">Arrival:</th>
              <td>{{ getAirportName(flight.arriveId) }}</td>
            </tr>
            <tr>
              <th scope="row">Price:</th>
              <td>{{ flight.price | currency: "USD" }}</td>
            </tr>
          </table>
          <h5 class="text-center">Payment Information</h5>
          <form>
            <div id="card" class="field"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" (click)="close()">
            Cancel
          </button>
          <button class="btn btn-success" type="button" (click)="book()">
            Book Ticket
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
