<div class="flight-filters">
  <div class="price-date-select row">
    <div class="date-picker">
      <label class="col-form-label" for="inputDefault">
        Departure Date
      </label>
      <form class="form-inline">
        <div class="form-group date-input">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [(ngModel)]="date"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle(); date = null"
                type="button"
              >
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-calendar3"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="price-slider">
      <fieldset class="form-group">
        <label for="customRange1"
          >Price Filter<br>Max Price - {{ customPrice | currency: "USD" }}</label
        >
        <input
          type="range"
          class="custom-range slider-input"
          id="custom-price"
          value="50"
          [min]="minValue"
          [max]="maxValue"
          data-show-value="true"
          data-popup-enabled="true"
          [(ngModel)]="customPrice"
        />
      </fieldset>
    </div>
  </div>
  <div class="airport-select row">
    <div class="departure-select">
      <label class="col-form-label" for="inputDefault">
        Departure Airport
      </label>
      <select
        class="custom-select"
        [(ngModel)]="selectedDeparture"
        (change)="page = 1"
      >
        <option selected="All Branches">All Airports</option>
        <option *ngFor="let airport of airports" value="{{ airport.name }}">
          {{ airport.name }}
        </option>
      </select>
    </div>
    <div class="arrive-select">
      <label class="col-form-label" for="inputDefault">
        Arrival Airport
      </label>
      <select
        class="custom-select"
        [(ngModel)]="selectedArrival"
        (change)="page = 1"
      >
        <option selected="All Branches">All Airports</option>
        <option *ngFor="let airport of airports" value="{{ airport.name }}">
          {{ airport.name }}
        </option>
      </select>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Departure Airport</th>
      <th scope="col">Arrive Airport</th>
      <th scope="col">Depart Time</th>
      <th scope="col">Price</th>
      <th scope="col" *ngIf="!mobile">Book</th>
    </tr>
  </thead>
  <tbody *ngIf="!mobile">
    <tr
      *ngFor="
        let f of flights
          | filterFlightsByDepartureAirport: selectedDeparture:filterMetadata
          | filterFlightsByArrivalAirport: selectedArrival:filterMetadata
          | filterByFlightPrice: customPrice:filterMetadata
          | filterByDepartureDate: date:filterMetadata
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
      "
    >
      <th scope="row">{{ f.departAirport }}</th>
      <td>{{ f.arriveAirport }}</td>
      <td>{{ f.departTime| date: "medium" }}</td>
      <td> {{ f.price | currency: "USD" }}</td>
      <td>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="openBookFlightModal(bookFlightModal, f)"
        >
          Book Flight
        </button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="mobile">
    <tr
      *ngFor="
        let f of flights
          | filterFlightsByDepartureAirport: selectedDeparture:filterMetadata
          | filterFlightsByArrivalAirport: selectedArrival:filterMetadata
          | filterByFlightPrice: customPrice:filterMetadata
          | filterByDepartureDate: date:filterMetadata
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
      "
      (click)="openBookFlightModal(bookFlightModal, f)"
    >
      <th scope="row">{{ f.departAirport }}</th>
      <td>{{ f.arriveAirport }}</td>
      <td>{{ f.departTime| date: "medium" }}</td>
      <td> {{ f.price | currency: "USD" }}</td>
    </tr>
  </tbody>
</table>
<ngb-pagination
  *ngIf="flights"
  [collectionSize]="filterMetadata.count"
  [(page)]="page"
  aria-label="Default pagination"
>
</ngb-pagination>

<ng-template #bookFlightModal let-close="close">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Book a Flight</h4>
        <button
          type="button"
          class="btn btn-primary"
          (click)="close(); flightBooked = false"
        >
          <span>&#215;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="alert alert-success" *ngIf="flightBooked">
          <strong>Flight Booked!</strong> 
        </div>
        <div class="form-group credit-card-form">
          <h5 class="text-center" *ngIf="!flightBooked">
            Confirm the flight information
          </h5>
          <h5 class="text-center" *ngIf="flightBooked">Flight information</h5>
          <table class="table table-hover">
            <tr class="table-dark">
              <th scope="row">Traveler Name:</th>
              <td>{{ traveler.name }}</td>
            </tr>
            <tr class="table-dark">
              <th scope="row">Flight Id:</th>
              <td>{{ selectedFlight.flightId }}</td>
            </tr>
            <tr class="table-dark">
              <th scope="row">Departure Airport:</th>
              <td>{{ selectedFlight.departAirport }}</td>
            </tr>
            <tr class="table-dark">
              <th scope="row">Arrival Airport:</th>
              <td>{{ selectedFlight.arriveAirport }}</td>
            </tr>
            <tr class="table-dark">
              <th scope="row">Flight Time:</th>
              <td>{{ selectedFlight.departTime| date: "medium" | date: "medium" }}</td>
            </tr>
            <tr class="table-dark">
              <th scope="row">Price:</th>
              <td>{{ selectedFlight.price | currency: "USD" }}</td>
            </tr>
          </table>

          <h5 class="text-center">Payment Information</h5>
          <form>
            <div id="card" class="field"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            type="button"
            (click)="close(); flightBooked = false"
          >
            Cancel
          </button>
          <button
            class="btn btn-success"
            type="button"
            (click)="bookFlight()"
            *ngIf="!flightBooked"
          >
            Book Flight
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


