<div id="agent-sidebar" class="active">
  <ul *ngIf="agent">
    <li class="agent-data" id="agent-side-top">
      <h5><strong>Agent:</strong><br />{{ agent.name }}</h5>
    </li>
    <li class="agent-logout">
      <button type="button" class="btn btn-primary" (click)="logout()">
        Logout
      </button>
    </li>
    <li class="agent-data" *ngIf="traveler">
      <h5><strong>Traveler:</strong><br />{{ traveler.name }}</h5>
    </li>
    <li class="agent-logout" *ngIf="traveler">
      <button type="button" class="btn btn-primary" (click)="newTraveler()">
        Pick New Traveler
      </button>
    </li>
    <li class="agent-features">
      <h4><strong>Features</strong></h4>
    </li>
    <li
      id="agent-book-flight"
      class="side-link side-link-active"
      (click)="openBookFlight()"
    >
      Book Flight
    </li>
    <li
      id="agent-cancel-flight"
      class="side-link"
      (click)="openCancelBooking()"
    >
      Cancel Bookings
    </li>
  </ul>
</div>

<div class="container agent-container" *ngIf="bookFlightPage">
  <h2 class="text-center">Book Flights</h2>
  <div class="traveler-container" *ngIf="!traveler">
    <app-agent-select-traveler (travelerChanged)="onTravelerChange($event)"></app-agent-select-traveler>
  </div>

  <div *ngIf="traveler">
    <app-agent-create-booking [agent]="agent" [airports]="airports" [traveler]="traveler"></app-agent-create-booking>
  </div>
</div>

<div class="container agent-container" *ngIf="cancelFlightPage">
  <app-agent-cancel-booking [agent]="agent" [airports]="airports"></app-agent-cancel-booking>
</div>
