<div id="agent-sidebar" class="active">
  <ul *ngIf="agent">
    <li class="agent-data" id="agent-side-top">
      <h5><strong>Agent:</strong><br />{{ agent.name }}</h5>
    </li>
    <li class="agent-logout">
      <button
        type="button"
        class="btn btn-primary"
        (click)="openLogoutModal(logoutAgentModal)"
      >
        Logout
      </button>
    </li>
    <li class="agent-data" *ngIf="traveler">
      <h5><strong>Traveler:</strong><br />{{ traveler.name }}</h5>
    </li>
    <li class="agent-logout" *ngIf="traveler">
      <button type="button" class="btn btn-primary" (click)="newTraveler()">
        Pick New Traveler
      </button>
    </li>
    <li class="agent-features">
      <h4><strong>Features</strong></h4>
    </li>
    <li
      id="agent-book-flight"
      class="side-link side-link-active"
      (click)="openBookFlight()"
    >
      Book Flight
    </li>
    <li
      id="agent-cancel-flight"
      class="side-link"
      (click)="openCancelBooking()"
    >
      Cancel Bookings
    </li>
  </ul>
</div>

<div class="container mobile-nav" *ngIf="childInput.mobile">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" (click)="openBookFlight()"
        >Book Flight</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" (click)="openCancelBooking()"
        >Cancel Booking</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="tab"
        (click)="openLogoutModal(logoutAgentModal)"
        ><br />Logout</a
      >
    </li>
  </ul>
</div>

<div class="container agent-container" *ngIf="bookFlightPage">
  <h2 *ngIf="!childInput.mobile" class="text-center">Book Flights</h2>
  <div class="container traveler-header" *ngIf="childInput.mobile">
    <h5 class="text-center" *ngIf="traveler">
      Book for {{ traveler.name }} or
    </h5>
    <button
      type="button"
      class="btn btn-primary"
      id="new-traveler-btn-mobile"
      (click)="newTraveler()"
      *ngIf="traveler"
    >
      Pick New Traveler
    </button>
  </div>

  <div class="traveler-container" *ngIf="!traveler">
    <app-agent-select-traveler
      (travelerChanged)="onTravelerChange($event)"
    ></app-agent-select-traveler>
  </div>

  <div *ngIf="traveler">
    <app-agent-create-booking
      [childInput]="childInput"
    ></app-agent-create-booking>
  </div>
</div>

<div class="container agent-container" *ngIf="cancelFlightPage">
  <h2 *ngIf="!childInput.mobile" class="text-center">
    Cancel Traveler Bookings
  </h2>

  <div class="container traveler-header" *ngIf="childInput.mobile">
    <h5 class="text-center" *ngIf="traveler">
      Cancel for {{ traveler.name }} or
    </h5>
    <button
      type="button"
      class="btn btn-primary"
      id="new-traveler-btn-mobile"
      (click)="newTraveler()"
      *ngIf="traveler"
    >
      Pick New Traveler
    </button>
  </div>

  <div class="traveler-container" *ngIf="!traveler">
    <app-agent-select-traveler
      (travelerChanged)="onTravelerChange($event)"
    ></app-agent-select-traveler>
  </div>

  <div *ngIf="traveler">
    <app-agent-cancel-booking
      [childInput]="childInput"
    ></app-agent-cancel-booking>
  </div>
</div>

<ng-template #logoutAgentModal let-close="close">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Logout</h4>
        <button type="button" class="btn btn-primary" (click)="close()">
          <span>&#215;</span>
        </button>
      </div>

      <div class="modal-body">
        <h5 class="text-center">Are you sure you want to logout?</h5>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="close()">
          Cancel
        </button>
        <button
          class="btn btn-success"
          type="button"
          (click)="logout(); close()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</ng-template>
