<div class="select-traveler">
  <div class="select-existing-traveler">
    <form [formGroup]="form">
      <fieldset>
        <legend>Find Customer by Username</legend>
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" formControlName="username" />
          <div>
            <span
              *ngIf="
                errorsDirty('username') &&
                form.controls.username.errors?.required
              "
            >
              Required
            </span>
            <span
              *ngIf="
                errorsDirty('username') &&
                form.controls.username.errors?.maxlength
              "
            >
              Maximum length is {{ maxLength }} characters
            </span>
            <span
              *ngIf="
                errorsDirty('username') &&
                form.controls.username.errors?.validateTraveler
              "
            >
              Traveler not found
            </span>
            <span>&#8204;</span>
          </div>
        </div>
      </fieldset>
      <div class="form-buttons">
        <button
          class="btn btn-primary btn-block"
          (click)="getTraveler(form.value.username)"
          [disabled]="form.invalid"
        >
          OK
        </button>
      </div>
    </form>
  </div>
</div>
