<div id="sidebar" class="active" *ngIf="authorized">
  <ul>
    <li class="utopia-data">
      <h5><strong>Employee:</strong><br />{{ counter.name }}</h5>
    </li>
    <li class="utopia-button">
      <button
        type="button"
        class="btn btn-primary"
        (click)="logOut()"
        routerLink="/counter/login"
      >
        Log Out
      </button>
    </li>
    <li class="utopia-data" *ngIf="traveler">
      <h5><strong>Customer:</strong><br />{{ traveler.name }}</h5>
    </li>
    <li class="utopia-button" *ngIf="traveler">
      <button
        type="button"
        class="btn btn-primary"
        routerLink="/counter/traveler"
        (click)="resetLinks()"
      >
        Change
      </button>
    </li>
    <li
      id="book"
      class="side-link"
      routerLink="/counter/booking"
      (click)="startBook()"
    >
      Book Ticket
    </li>
    <li id="cancel" class="side-link" (click)="startCancel()">
      Cancel Ticket
    </li>
  </ul>
</div>
<div class="container counter-container" *ngIf="authorized">
  <router-outlet></router-outlet>
</div>
