<div id="sidebar" class="active">
  <ul>
    <li class="counter-data">
      <h5><strong>Employee:</strong><br />(name goes here)</h5>
    </li>
    <li class="logout-button">
      <button
        type="button"
        class="btn btn-primary"
        (click)="logOut()"
        routerLink="/counter/login"
      >
        Log Out
      </button>
    </li>
    <li
      id="book"
      class="side-link"
      (click)="startBook()"
      routerLink="/counter/traveler"
    >
      Book Ticket
    </li>
    <li
      id="cancel"
      class="side-link"
      (click)="startCancel()"
      routerLink="/counter/traveler/existing"
    >
      Cancel Ticket
    </li>
  </ul>
</div>
<div class="container counter-container">
  <router-outlet></router-outlet>
</div>
