<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="#">Utopia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" id="navbar-utopia" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/traveler/login">Traveler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/counter">Counter</a>
      </li>
      <li class="nav-item"  id="nav-agent">
        <a class="nav-link" routerLink="/agent/login">Agent</a>
      </li>
    </ul>
  </div>
</nav>
<div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10" style="position: absolute; top: 100px; right: 50px;">
  <div class="toast-header">
    <strong class="mr-auto">Utopia Airlines</strong>
    <small>{{ toast.status }}</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" (click)="closeToast()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <h6>{{ toast.header}}</h6>
    {{toast.body}}
  </div>
</div>
<router-outlet></router-outlet>
